@import "../node_modules/bootstrap/less/bootstrap";

.label {
    margin-right: 5px;
    font-size: 12px;
    font-weight: 300;
}

.user-item {
    display: flex;
    >img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.search-results-empty {
    padding: 2rem;
    > img {
        opacity: .2;
        height:150px;
        margin: auto;
    }
}